.my-component {
  background: whitesmoke !important;
}

.fullscreen-enabled  {
  background: whitesmoke !important;
  overflow-x: scroll !important;
}

.fullscreen {
  background: whitesmoke !important;
}

.list {
  display: grid !important;
  grid-template-columns: none !important;
  grid-template-rows: repeat(1, 1fr) !important;
  grid-gap: 5px !important;
  margin: 10px 20px !important;
  position: relative !important;
}
